<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info"
      internalLogFile="nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <include file="nlog.config.file" />

  <rules>
    <logger name="*" levels="Debug,Info,Warn,Error,Fatal" writeTo="file_async" />
    <logger name="Sport2021.API.Player.Portal.Controllers.DefaultController" levels="Info,Warn,Error,Fatal" writeTo="file_async" />
    <logger name="Microsoft.AspNetCore.Server.Kestrel" levels="Info,Warn,Error,Fatal" writeTo="file_async" />
    <logger name="Microsoft.AspNetCore.Hosting.Internal.WebHost" levels="Info,Warn,Error,Fatal" writeTo="file_async" />
  </rules>
</nlog>